.navi{
    height: 5rem;
    width: 100vw;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo{
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}

.listItem{
    margin: 1rem;
    cursor: pointer;
}

.contactButton{
    font-weight: bold;
    height: 2rem;
    width: 4rem;
    border: none;
    background: white;
    border-radius: 1rem;
}

.listItem:hover{
    color: rgb(15, 212, 15);
    border-bottom: 3px solid rgb(15, 212, 15);
    padding-bottom: 0.25rem;
}